{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <meta charset="UTF-8">
    <title>Portfolio-Rodrigo Sousa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <style>
        .first-info {

            background-image: url("{% static 'portfolio/images/exemplo.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;

        }


    </style>

</head>

<body class=first-info>


<header>
    <nav>
        <div class="nav-container">
            <a href="index.html">
                <img id="logo" src="img/logo.jpg" alt="RodrigoSousa">
            </a>
            <i class="fas fa-bars btn-menumobile"></i>
            <ul>
                <li><a href=#topo">Início</a></li>
                <li><a href="#sobreMim">Sobre mim</a></li>
                <li><a href="">Carta de Recomendação</a></li>
                <li><a href="">Progresso Académico</a></li>
                <li><a href="">Projetos</a></li>
                <li><a href="">Programação Web</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </nav>
</header>

<main id="lastjobs-container" class="wrapper">
<div id="topo">

</div>

<div id="sobreMim" class="first-info">
    <h2>Licenciatura</h2>


</div>

	</main>
<footer>
    <div class="wrapper">
        <div class="footer-box">
            <h2> Redes Sociais</h2>

        </div>
        <div class="footer-box">
            <h2> Redes Sociais</h2>
            <ul class="footer-list">
                <li>
                    <a href="#">
                        <i class="fab fa-github"></i>
                        <span>Github</span>
                    </a>

                    <a class="github" href="https://github.com/a22002264">Github</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>

                    <a class="github" href="https://github.com/a22002264">Github</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                        <span>Linkedin</span>
                    </a>

                    <a class="github" href="https://www.linkedin.com/in/rodrigo-sousa-31a6aa1a3/">Github</a>
                </li>

            </ul>
        </div>
        <div>

        </div>
    </div>
</footer>
</body>
