* {
    font-family: 'Lato', sans-serif;
}

.material-icons.md-24 {
    font-size: 24px;
}


* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

}

#estilo_titulo1 {
    font-size: 40px;
}


.estilo_titulo2 {

    font-size: 35px;
    color: rgba(0, 0, 0, 0.84);
}

.estilo_titulo3 {

    font-size: 25px;
    color: rgba(0, 0, 0, 0.84);
}

.estilo_textop1 {
    font-size: 20px;
    color: rgba(33, 28, 35, 0.84);
}

.estilo_textop3 {
    font-size: 30px;
    color: rgb(255, 255, 255);


}

.estilo_textop5 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 25px;

}

.estilo_textop4 {

    font-size: 17px;
    color: rgb(255, 255, 255);


}

.flex-container {
    display: flex;
    background-color: rgba(185, 233, 255, 0.84);
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    justify-content: space-around; /* espaça os items de forma igual */
    border-radius: 20px;
    /* arredonda os cantos */
    box-shadow: 5px 5px 15px #888888; /* cria sombra */

}


* {
    box-sizing: border-box;
}


nav a {
    padding: 20px;
    background-color: rgba(28, 61, 94, 0.84);
    margin: 2px;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 2px 3px 3px lightgrey;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(98, 92, 92, 0.84);
    font-weight: bold
}

nav {
    display: flex;
}

nav a:last-child {
    margin-left: auto;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
}


.capitais {
    display: flex;
    flex-flow: row wrap;
    /* caixas dispostas em linha e fazendo quebra de linha se necessário */
    justify-content: space-around;
    /* espaça horizontalmente os items entre si de forma igual */
    align-content: space-around;
    /* espaça vericalmente os items entre si de forma igual */
    background-color: rgba(185, 233, 255, 0.84);
    padding: 50px;

}

.capitais > div {
    /* este selector identifica todos os elementos div "filhos" do elemento com classe capitais */
    display: flex;
    justify-content: space-around; /* espaça os items de forma igual */
    border-radius: 20px;
    /* arredonda os cantos */
    box-shadow: 5px 5px 15px #888888; /* cria sombra */
    margin: 10px;
    /* garante um espaçamento mínimo entre elementos */
}

.capitais img {
    /* este selector identifica todas as imagens dentro do elemento com classe capitais: (elementos imagem dentro de elemento com classe capitais) */
    border-radius: 20px 0 0 20px; /* arredonda 1º canto (superior à esq.) e 4º canto */
    height: 100%;
}

.capitais div div:last-child {
    /* este selector identifica os divs com o parágrafo com nome da capital (ultimo div filho de cada div dentro do elemento com classe capitais) */
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0; /* arredonda 29 e 3º canto */
    /* para centrar nome da capital na caixa (horizontal e vertical) */
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 901px) {

    img {
        width: 100%;
        height: 100%;
    }



    .destinos {


        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        background-color: rgba(185, 233, 255, 0.84);
        padding: 10px;
        grid-auto-rows: 200px;
        grid-template-areas:
    'evora torresVedras braga budget budget'
    'faro faro vianaCastelo budget budget';
    }


}


.destinos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    background-color: rgba(185, 233, 255, 0.84);
    padding: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
    'evora torresVedras braga budget budget'
    'faro faro vianaCastelo budget budget';
}


.posicaoTexto {
    position: relative;
    bottom: -21%;
    padding: 150px;
    /* top: 100%; */

}


.evora {
    grid-area: evora;
    background-image: url("../lab4/fotografias/evora.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.torresVedras {
    grid-area: torresVedras;
    background-image: url("../lab4/fotografias/torresVedras.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.braga {
    grid-area: braga;
    background-image: url("../lab4/fotografias/braga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.faro {
    grid-area: faro;
    background-image: url("../lab4/fotografias/faro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.vianaCastelo {

    grid-area: vianaCastelo;
    background-image: url("../lab4/fotografias/vianaCastelo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.budget {
    grid-area: budget;


}




.imageBudget {
    grid-area: budgetGrid;
    background-image: url("../lab4/fotografias/budget.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


.limitBudget {
    grid-area: budgetGrid;
}

.bottomBudget {
    grid-area: bottomBudget;
}

.posicaoBudget {
    position: relative;
    bottom: -21%;
    padding: 150px;
}


@media (max-width: 900px) {

    img {
        width: 100%;
        height: 100%;
    }

    .destinos {


        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        background-color: rgba(185, 233, 255, 0.84);
        padding: 10px;
        grid-auto-rows: 200px;
        grid-template-areas:
                    'evora torresVedras'
                    'braga vianaCastelo'
                    'budget budget'
                    'faro faro';
    }


}